In [34]:
import pandas as pd
import numpy as np
import scipy
from scipy.spatial import distance_matrix as dm

In [35]:
mydata = pd.read_csv('C://Users//Anurag sharma//Desktop//STUDY MAT & BOOKS//3rd SEM//DataMining//Kmedoids.csv',header=None)
mydata

     0  1  2
0   x1  2  6
1   x2  3  4
2   x3  3  8
3   x4  5  7
4   x5  6  2
5   x6  6  4
6   x7  7  3
7   x8  7  4
8   x9  8  5
9  x10  7  6

In [36]:
rand=np.random.permutation(len(mydata))
rand

array([7, 5, 6, 0, 3, 1, 4, 2, 9, 8])

In [ ]:
k=3 #no. of cluster

In [43]:
def initialize_k():
    rand=np.random.permutation(len(mydata)) #randomly generates an array equal to the length of data points
    #for i in range(len(rand)):
    med1=rand[0] #select 1st random no. as your first medoid
    med2=rand[1]
    med3=rand[2]#select 2nd random no. as your second 
    #med2=rand[i+1]
    k1 = mydata.iloc[med1]
    k2 = mydata.iloc[med2]
    k3 = mydata.iloc[med3]
    return k1,k2,k3

In [45]:
k=initialize_k()
k

(0    x1
 1     2
 2     6
 Name: 0, dtype: object, 0    x3
 1     3
 2     8
 Name: 2, dtype: object, 0    x2
 1     3
 2     4
 Name: 1, dtype: object)

In [33]:
A=[]
B=[]
C=[]
D= {}
for i in range(len(mydata)):
    a = mydata.iloc[i]
    #print (len(a))
    for j in range(len(a)-2):
        C.append(a[j])
        A.append(a[j+1])
        B.append(a[j+2])
print (A,B,C)
k1 = initialize_k()
print (k1)
for i in range(len(A)):
    d = abs((k1[1] - A[i]))+abs((k1[2]-B[i]))

    D[k1[0]]=d
print (D)

[2, 3, 3, 5, 6, 6, 7, 7, 8, 7] [6, 4, 8, 7, 2, 4, 3, 4, 5, 6] ['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10']
0    x3
1     3
2     8
Name: 2, dtype: object
{'x3': 6}

In [41]:
D1={}
def distance():
    a = max(D.keys(), key=(lambda k: D[k]))
    K = [i for (i,j) in enumerate(C) if j==a]
    print (K)
    k1=mydata.iloc[K[0]]
    print (k1)
    
    for i in range(len(A)):
        d = abs((k1[1] - A[i]))+abs((k1[2]-B[i]))
        D1[C[i]]=d
    return k1,D1

In [42]:
distance()

[2]
0    x3
1     3
2     8
Name: 2, dtype: object

(0    x3
 1     3
 2     8
 Name: 2, dtype: object,
 {'x1': 3,
  'x2': 4,
  'x3': 0,
  'x4': 3,
  'x5': 9,
  'x6': 7,
  'x7': 9,
  'x8': 8,
  'x9': 8,
  'x10': 6})

In [10]:
key_max = max(D.keys(), key=(lambda k: D[k]))
key_max

'x9'

In [11]:
A=[]
B=[]
for i, row in mydata.iterrows(): 
    print row(mydata.iloc[0])
    #print(i,row)

SyntaxError: invalid syntax (<ipython-input-11-e40f0b63c114>, line 4)

In [ ]:
A=[]
B=[]
for col in mydata: